
:root {
  --vp-custom-block-font-size: 1.1rem;

  --vp-c-brand: #2563EB;
  --vp-c-brand-light: #3B82F6;
  --vp-c-brand-lighter: #93C5FD;
  --vp-c-brand-dark: #1D4ED8;
  --vp-c-brand-darker: #1E40AF;
}

.main{
  font-size: 1.1rem;
}

.medium-zoom-overlay {
  z-index: 20;
}

.medium-zoom-image {
  z-index: 21;
}

/* shadow img */
img {
  box-shadow: 5px 5px 8px 3px rgba(0, 0, 0, 0.2);
}

.vp-doc :not(pre) > code {
  color: #000;
  /* background-color: #292b30; */
  padding: 5px 3px;
  font-size: 1.1rem;
}


/* main content */
@media (min-width: 960px) {
  .content[data-v-343c73d6] {
  padding: 0 ;
  }
}

body {
  font-family: arial, sans-serif;
}

.main{ 
  font-size: 1.3rem;
  line-height: 1.8;
  /* color: #15141A; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* dark mode code */
.dark code{
  color: #fff !important;
}

.vp-doc p {
  line-height: 33px;
}

/* main */
@media (min-width: 1440px) {
  .VPContent.has-sidebar {
      padding-right: 32px !important;
      padding-left: var(--vp-sidebar-width) !important;
  }
}

.VPDoc.has-aside .content-container {
  max-width: fit-content !important;
}


/* sidebar gauche */
@media (min-width: 1440px) {
  aside.VPSidebar {
      padding-left: 32px !important;
      width: 272px !important;
  }
}

/* titre */
@media (min-width: 1440px) {
  .VPNavBar.has-sidebar div.container div.title {
      padding-left: 32px !important;
      width: calc((100% - (var(--vp-layout-max-width) - 64px)) / 2 + var(--vp-sidebar-width) - 32px);
      background-color: var(--vp-nav-bg-color);
  }
  .VPNavBar.has-sidebar div.container div.title .title {
      border: 0 !important;
  }
}


